html {
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #404040;
    text-transform: lowercase;
    margin: 8px 7.5rem 0 7.5rem;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.right-items {
    display: flex;
    flex-direction: row;
}

header > :not(.right-items) > li:first-child {
    font-weight: 700;
}

header li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

main {
    flex: 1 0 auto;
    padding: 0 20px;
    margin: 8px 7.5rem;
}

.posts .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

.posts {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
    padding: 20px;
    margin: 8px 7.5rem;
}

footer .copyright {
    font-size: 0.8em;
    text-align: center;
}

a {
    text-decoration: none;
}

.draft {
    color: red;
}

.date {
    color: grey;
    font-size: 0.8em;
}

img {
    display: block;
    margin: 1.0rem auto;
    max-width: 80%;
}

.four-oh-four {
    text-align: center;
}

.pagination {
    margin: auto;
    display: flex;
    justify-content: center;
}

.pagination ul {
    display: contents;
    list-style: none;
}

.pagination li {
    margin: 0 0.2em;
    border: 1px solid grey;
    border-radius: 5px;
}

.pagination a {
    color: black;
    font-size: 0.8em;
    float: left;

    padding: 4px 8px;
    text-decoration: none;
}

.pagination li.active {
    border-color: rgb(0, 133, 242);
    box-shadow: 0 0 0 3px rgba(0,144,237,0.4);
}
